<div *ngIf="player">
    <h2>#{{player.id}} {{player.name | uppercase}}</h2> 
    
    <div class="container">
        <div class="picture">
            <img src={{player.Picture}}>
        </div>
        <div class="text">
            <div><strong>DOB:</strong> {{player.Dob}}</div>
            <div><strong>Bats:</strong> {{player.Bats}}</div>
            <div><strong>Throws:</strong> {{player.Throws}}</div>
            <div><strong>Height:</strong> {{player.Height}} cm</div>
            <div><strong>Weight:</strong> {{player.Weight}} kg</div>
            <div><strong>Position:</strong> {{player.Position}}</div>
        </div>
        <div class="stats">
            <img src={{player.Stats}}>
        </div>
    </div>
    

</div>
