h2 {
  color: #FF5910
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

  }
  
  li {
    float: left;
  }
.cell {
  text-align: center;
  align-items: center;
  width: 200px;
}