h2 {
    color: #FF5910
}
.container {
    display: flex;
    align-items: center;

  }
  
  
  .picture {
    float: left;
    width: 8%;
    padding: 5px;
  }
  
  .text {
    float: left;
    width: 11%;
    padding: 5px;
    font-size: 18px;
  }
  .stats {
    float: left;
    width: 50%;
    padding: 5px;
  }
  .video {
    float: right;
    width: 20%;
    padding: 5px;
  }